<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.js.testproject">

  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.CALL_PHONE" />

  <application
      android:name=".base.application.BaseApplication"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/Theme.TestProject">
    <activity android:name=".headerfooter.HeaderFooterActivity"></activity>
    <activity android:name=".viewtest.motionlayout.MotionLayoutActivity" />
    <activity android:name=".viewtest.numberpicker.NumberPickerActivity" />
    <activity android:name=".xml.XmlTestActivity">
      <meta-data
          android:name="android.app.searchable"
          android:resource="@xml/searchable" />
    </activity>
    <activity android:name=".viewtest.dialog.DialogTestActivity" />
    <activity android:name=".viewtest.addview.AddViewActivity" />
    <activity
        android:name=".viewtest.keyboard.KeyboardActivity"
        android:windowSoftInputMode="adjustResize" />
    <activity android:name=".pretendcall.PretendCallActivity" />
    <activity android:name=".firebase.FirebaseActivity" />
    <activity android:name=".test.biometric.BiometricActivity" />
    <activity android:name=".viewtest.customview.CustomViewActivity" />
    <activity android:name=".intent.intenttrans.IntentTransActivity" />
    <activity android:name=".intent.IntentActivity" />
    <activity android:name=".coroutine.CoroutineActivity" />
    <activity android:name=".test.string.StringActivity" />
    <activity
        android:name=".test.TestActivity"
        android:windowSoftInputMode="adjustResize" />
    <activity android:name=".viewtest.textview.TextViewActivity" />
    <activity android:name=".kakao.KakaoActivity" />
    <activity android:name=".result.ResultActivity" />
    <activity android:name=".util.calendar.CalendarActivity" />
    <activity
        android:name=".viewtest.etc.EtcActivity"
        android:screenOrientation="portrait"
        android:theme="@style/Transparent" />
    <activity android:name=".fastcampus.rotto.LottoActivity" />
    <activity android:name=".util.random.RandomActivity" />
    <activity android:name=".util.UtilActivity" />
    <activity android:name=".file.FileTestActivity" />
    <activity android:name=".mediastore.MediaStoreActivity" />
    <activity android:name=".stack.StackActivity" />
    <activity android:name=".permission.PermissionActivity" />
    <activity android:name=".viewtest.textinputlayout.TextInputLayoutActivity" />
    <activity android:name=".viewtest.ViewTestActivity" />
    <activity android:name=".notification.NotificationActivity" />
    <activity android:name=".main.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <service android:name=".FirebaseInstanceIDService">
      <intent-filter>
        <action android:name="com.google.firebase.MESSAGING_EVENT" />
      </intent-filter>
    </service>

    <meta-data
        android:name="com.google.firebase.messaging.default_notification_channel_id"
        android:value="aaaa" />
  </application>

</manifest>